@using MDP.Navigation;
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MDP.AspNetCore.Navigation.Lab</title>
</head>
<body>

    <!--Title-->
    <h2>MDP.AspNetCore.Navigation.Lab</h2>
    <hr />

    <!--MenuNodeList-->    
    @functions {
        void RenderMenuNode(List<MenuNode> menuNodeList, int level = 0)
        {
            <ul>
                @foreach (var menuNode in menuNodeList)
                {
                    <li>
                        @* MenuNode *@
                        @Html.Raw($"({menuNode.Priority}){menuNode.Name}")

                        @* Children *@
                        @if (menuNode.Children.Any() == true)
                        {
                            RenderMenuNode(menuNode.Children, level + 1);
                        }
                    </li>
                }
            </ul>
        }
    }
    @{ RenderMenuNode(ViewBag.MenuNodeList); }

</body>
</html>