@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@{
    
}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>

    <!-- title -->
    <title>Home</title>

    <!-- meta -->
    <meta charset="utf-8" />

    <!-- script -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js" charset="utf-8"></script>
</head>
<body>

    <!-- title -->
    <h2>Home</h2>
    <hr />

    <!-- identity -->
    AuthenticationType=@User?.Identity?.AuthenticationType<br />
    UserId=@User.GetClaimValue(ClaimTypes.NameIdentifier)<br />
    UserName=@User.GetClaimValue(ClaimTypes.Name)<br />
    Mail=@User.GetClaimValue(ClaimTypes.Email)<br />
    Role=@String.Join(",", User.GetAllClaimValue(ClaimTypes.Role))<br />
    <br />
    <hr />

    <!-- logout -->
    <form asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout" /><br />
        <br />
    </form>
    <hr />

    <!-- sendMessages -->
    <form asp-controller="Home" asp-action="SendMessages">
        <input type="submit" value="SendMessages" /><br />
        <br />
    </form>
    <br />
    <hr />

    <!-- closeWindow -->
    <input type="button" value="closeWindow" onclick="liff.closeWindow();" />
    <br />
    <hr />

</body>
</html>