

/* ---------- template ---------- */

/* mdp-wrapper */
.mdp-wrapper {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: normal;
}

/* mdp-header */
.mdp-header {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* mdp-content */
.mdp-content {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* mdp-footer */
.mdp-footer {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mdp-footer > * {
    position: fixed;
    bottom: 0;
    z-index: 1020;
}

/* mdp-sidebar */
.mdp-sidebar {
    width: 0rem;
    height: 0rem;
}