
.main img {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-expander {
    color: #2c84fa;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-expander +.nav-list-link {
    color: #2c84fa;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 100%)
}

@media (min-width: 66.5rem) {
    .main {
       margin-left:16.5rem;
    }
    .side-bar {
        min-width:16.5rem;
        max-width:16.5rem;
        z-index:1;
    }
    .site-nav,.site-header,.site-footer {
        width:16.5rem;
    }
    .site-title {
       font-size:1.5rem !important;
       padding-left:0rem;
       padding-right:0rem;
	   overflow-wrap:anywhere;
       justify-content:center;
    }
}

@media (min-width: 50rem) {
    .main {
       margin-left:16.5rem;
    }
    .side-bar {
        min-width:16.5rem;
        max-width:16.5rem;
        z-index:1;
    }
    .site-nav,.site-header,.site-footer {
        width:16.5rem;
    }
    .site-title {
       font-size:1.5rem !important;
       padding-left:0rem;
       padding-right:0rem;
	   overflow-wrap:anywhere;
       justify-content:center;
    }
}