@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var liffId = @ViewBag.LiffId;
    var returnUrl = @ViewBag.ReturnUrl;
}
<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <title>MDP.Liff.Lab</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheet --> 
    <style>
        body {
            margin: 0;
            font-size: 16px;
            background-color: limegreen;
        }

        div {
            max-width: 100%;
            text-align: center;
        }

        .hidden {
            display: none;
        }

        .message h2 {
            color: red;
        }

        .loader div {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid white;
            border-radius: 50%;
            border-top: 16px solid blue;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>
<body>

    <!-- application -->
    <div class="application">
        <h1>MDP.Liff.Lab</h1>
    </div>

    <!-- loader -->
    <div class="loader">
        <h2>系統啟動中</h2>
        <div></div>
    </div>

    <!-- message -->
    <div class="message hidden">
        <h2>系統啟動異常，請聯絡系統管理員</h2>
        <div></div>
    </div>

    <!-- script -->
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="/mdp.liff.js"></script>
    <script>        
        (function () {

            // Variables
            var liffId = "@liffId";       
            var returnUrl = "@returnUrl";

            // liff
            mdp.liff.init(

                liffId, 
                returnUrl
            )
            .catch((ex) => {

                // loader
                document.querySelector(".loader").classList.add("hidden");

                // message
                document.querySelector(".message").classList.remove("hidden");
                document.querySelector(".message div").textContent = ex;
            });
        })();
    </script>
</body>
</html>
