@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authentication.Google
@{

}
<!DOCTYPE html>

<html>
<head>
    <!-- title -->
    <title>Login</title>

    <!-- meta -->
    <meta charset="utf-8" />
</head>
<body>

    <!--Title-->
    <h2>Login</h2>
    <hr />

    <!--LoginByGoogle-->
    <form action="/.auth/login/Google" method="get">
        <input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />
        <input type="submit" value="LoginByGoogle" /><br />
        <br />
    </form>
    <hr />

</body>
</html>