@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    
}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>

    <!-- title -->
    <title>Home</title>

    <!-- meta -->
    <meta charset="utf-8" />

    <!-- script -->
    <script language="javascript">
        async function getClientBySecurityToken() {
            try {
                const response = await fetch("/Home/GetUser", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer " + document.getElementById("getClientBySecurityToken.token").innerText
                    }
                });
                if (response.ok) {
                    document.getElementById("getClientBySecurityToken.result").innerText = JSON.stringify(await response.json(), null, 2);
                } else {
                    document.getElementById("getClientBySecurityToken.result").innerText = `getClientBySecurityToken is Failed: ${response.status}`;
                }
            }
            catch (error) {
                document.getElementById("getClientBySecurityToken.result").innerText = `getClientBySecurityToken is Failed: ${error}`;
            }
        }
    </script>
</head>
<body>

    <!-- title -->
    <h2>Home</h2>
    <hr />

    <!--GetUserBySecurityToken-->
    <input type="button" value="GetUserBySecurityToken" onclick="getClientBySecurityToken()" /><br />
    SecurityToken:<div id="getClientBySecurityToken.token">@ViewBag.SecurityToken</div><br />
    <div id="getClientBySecurityToken.result"></div><br />
    <hr />    

</body>
</html>
