@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>

    <!-- title -->
    <title>Login</title>

    <!-- meta -->
    <meta charset="utf-8" />
</head>
<body>

    <!-- title -->
    <h2>Login</h2>
    <hr />

    <!--LoginByFacebook-->
    <form asp-controller="Account" asp-action="LoginByFacebook" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
        <input type="submit" value="LoginByFacebook" /><br />
        <br />
    </form>
    <hr />

</body>
</html>